.Posts{
    display: flex;
    justify-content: space-around;
}

.PostsBlock{
    width: 600px;
}

.CurrentPost{
    margin-top: 10px;
    width: 600px;
    height: 800px;
    border: 3px solid slateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Post{
    height: 350px;
    margin: 10px;
    width: 550px;
    border: 2px #c02929 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}