.father{

    border: 3px solid;
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users{
    margin-top: 10px;
    margin-left: 5px;
    height: 1500px;
    width: 45%;
    border: 3px solid blue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments{
    width: 45%;
    margin-left: 15px;
}

.commentsUsers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}